<h2><small>This is Abouts Page</small></h2>
<hr>

<p>Welcome to Seattle Fire 911 App. I am utilizing Socrata’s Open Data API to access data from Seattle’s Fire department. It provides a centralized location for users to track the latest 911 dispatches. I used map coordinates to trace the location on Google Maps. An authenticated user can add data to the reference list so they can review their stuff later. My goal is to make a better and faster way for the people in fire department to track the whereabouts of an emergency and also for the people who want to avoid or just want to help out if they happen to be in that area.
</p>