<div class="container">
    	<hr>
    	<div align="center">Made by this <a href="https://twitter.com/NathanielGiron" target="_blank">Guy</a> for his first full stack project at General Assembly Seattle. Powered by <img src="/images/socrata.png"> & <img src="/images/google.png"></div>
    </div>