<header class="header">
	<div class="header-body">
		<h2 id="header-title">Seattle Real Time Fire 911 Calls</h2>
		<a href="/register" class="btn btn-danger"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Register</a>
	</div>
</header>

