body {
	padding-top: 60px;
	padding-bottom: 30px;
}
.header {
	background-image: url('header.jpg');
	height: 500px;
}

#map {
	height: 500px;
}

h2 {
	margin-top:0;
}

h3 {
	font-size: 11pt;
	margin:0;
	padding:3px;
}